<h1>学期情報を修正</h1>

<%= form_tag "/terms/#{@term.term_identifier}/edit", { class: 'form-horizontal',  multipart: true } do %>
  <% if @term.errors.any? %>
    <div id="error_explanation" class="alert alert-block alert-error">
      <h2><%= @term.errors.full_messages.count %>個の項目にエラーがあります。</h2>
      <ul>
        <% @term.errors.full_messages.each do |msg| %>
          <li><%= slice_error_message(msg) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="control-group">
      <%= label_tag :term_identifier, '学期コード', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :term_identifier, @term.term_identifier, disabled: true %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :term_name, '学期名', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :term_name, @term.term_name, disabled: true %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :term_timetable_img, '時間割表', class: 'control-label' %>
      <div class="controls">
        <%= file_field_tag :term_timetable_img, accept: 'image/jpeg, image/png, image/gif, image/tiff' %>
        <p>
          学校配布の時間割表をスキャンした画像ファイルを選択してください。<br>
          利用可能なファイル形式：jpeg, png, gif, tiff
        </p>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag '更新', class: 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>
