<h1>学期一覧</h1>
<p>
  <%= link_to '新学期', '/terms/new' %>
</p>

<table class="table">
  <tr>
    <th>学期コード</th>
    <th>学期名</th>
    <th>教科</th>
    <th>画像の種類</th>
    <th>時間割(画像クリックで拡大)</th>
    <th>修正</th>
  </tr>
  <% @terms.each do |term| %>
    <% mime = term.term_timetable_img_content_type %>
    <tr>
      <td><%= term.term_identifier %></td>
      <td><%= term.term_name %></td>
      <td>
        <% subjects = term.subjects %>
        <% number_of_subjects = subjects.length %>
        <% subjects.each do |subject| %>
          <%= link_to subject.subject_name, "/terms/#{term.term_identifier}/subjects/#{subject.subject_identifier}/edit" %>
        <% end %>
        <br>
        <%= link_to '教科を追加', "/terms/#{term.term_identifier}/subjects/new", class: 'btn btn-mini btn-primary' %>
      </td>
      <td><%= mime %></td>
      <td><%= link_to image_tag("/terms/#{term.term_identifier}/thumb/#{term.term_name}_thumb.#{get_extension(mime)}", type: mime, height: '100px', alt: "時間割サムネイル"),
                                "/terms/#{term.term_identifier}/img/#{term.term_name}_img.#{get_extension(mime)}", data: { colorbox: true, colorbox_height: '1000px' } %></td>
      <td><%= link_to '修正', "/terms/#{term.term_identifier}/edit" %></td>
    </tr>
  <% end %>
</table>
