<h1>学期一覧</h1>
<p>
  <%= link_to '新学期', '/terms/new' %>
</p>

<table class="table">
  <tr>
    <th>学期コード</th>
    <th>学期名</th>
    <th>教科</th>
    <th>画像の種類</th>
    <th>時間割(画像クリックで拡大)</th>
    <th>修正</th>
  </tr>
  <% @terms.each do |term| %>
    <% mime = term.term_timetable_img_content_type %>
    <tr>
      <td><%= term.term_identifier %></td>
      <td><%= term.term_name %></td>
      <td>
        <% subjects = term.subjects %>
        <% number_of_subjects = subjects.length %>
        <% subjects.each do |subject| %>
          <%= link_to subject.subject_name, "/terms/#{term.term_identifier}/subjects/#{subject.subject_identifier}/edit" %>
        <% end %>
        <br>
        <%= link_to '教科を追加', "/terms/#{term.term_identifier}/subjects/new" %>
      </td>
      <td><%= mime %></td>
      <td><%= link_to image_tag("/terms/#{term.term_identifier}/thumb/#{term.term_name}_thumb.#{get_extension(mime)}", type: mime, height: '100px', alt: "時間割サムネイル"),
                      "#modal-#{term.term_identifier}", data: { toggle: 'modal' } %></td>
      <td><%= link_to '修正', "/terms/#{term.term_identifier}/edit" %></td>
    </tr>
  <% end %>
</table>

<% @terms.each do |term| %>
  <% mime = term.term_timetable_img_content_type %>
  <div class="modal hide fade timetable-modal" id="modal-<%= term.term_identifier %>">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>時間割表 - <%= term.term_name %></h3>
    </div>
    <div class="modal-body">
      <%= image_tag "/terms/#{term.term_identifier}/img/#{term.term_name}.#{get_extension(mime)}", type: mime, height: '800px', alt: '時間割表' %>
    </div>
  </div>
<% end %>
