<h1>新学期を追加</h1>

<%= form_for @term, url: '/terms/new', html: { class: 'form-horizontal', multipart: true } do |f| %>
  <% if @term.errors.any? %>
    <div id="error_explanation" class="alert alert-block alert-error">
      <h2><%= @term.errors.full_messages.count %>個の項目にエラーがあります。</h2>
      <ul>
        <% @term.errors.full_messages.each do |msg| %>
          <li><%= slice_error_message(msg) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="control-group">
      <%= f.label :term_identifier, '学期コード', class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :term_identifier %>
        <p>"2a" などの形式で、"学年 + (前期ならa, 後期ならb)"と半角英数字で入力してください。ダブルクオーテーションは不要です。</p>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :term_timetable_img, '時間割表', class: 'control-label' %>
      <div class="controls">
        <%= f.file_field :term_timetable_img, accept: 'image/jpeg, image/png, image/gif, image/tiff' %>
        <p>
          学校配布の時間割表をスキャンした画像ファイルを選択してください。<br>
          利用可能なファイル形式： jpeg, png, gif, tiff<br>
        </p>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit '追加', class: 'btn btn-primary', disable_with: '送信中...' %>
    </div>
  </fieldset>
<% end %>
