<div class="row-fluid" style="min-height: 50px;">
  <div class="span3" style="padding-left: 3%;">
    <h1 style="font-size: 300%;">What's new?</h1>
  </div>
  <div class="span8" style="margin-top: 20px;">
    UPDATE: 2012-10-11 Vocabulary Check 公開しました！上部メニュー「Vocabulary Check」にアクセス！英単語は大丈夫ですか？<br>
    UPDATE: 2012-10-28 freeMLのアーカイブ自動更新機能を修正しました！新しい投稿は10分ごとに反映されます。
  </div>
</div>

<div class="row-fluid">
  <div class="span4">
    <h2><%= link_to image_tag('study.gif') + raw('&nbsp;&nbsp;Study'), '/study', style: 'color: #333;' %></h2>
    <dl class="dl-horizontal" style="margin-top: 0;">
      <% Material.find(:all, order: 'id DESC', limit: 10).each do |material| %>
        <dt><%= material.created_at.strftime("%Y/%m/%d %H:%M").gsub('/0', '/') %></dt>
        <dd>
          <% file_name = "#{material.material_file_name}.#{material.material_file_ext}" %>
          <% file_type = case material.material_type; when 0; '過去問'; when 1; '小テスト'; when 2; '授業資料'; when 3; '個人作成資料'; end %>
          <%= material.user.user_handle_name %>さんが<%= file_type %>をup<br>
          <%= raw '&nbsp;' * 5 %><%= link_to file_name, "/materials/#{material.id}/download/#{file_name}" %>
        </dd>
      <% end %>
  </div>
  <div class="span4">
    <h2><%= link_to image_tag('freeml.gif') + raw('&nbsp;&nbsp;freeML'), '/freeml', style: 'color: #333;' %></h2>
    <dl class="dl-horizontal" style="margin-top: 0;">
      <% FreemlEntry.order('freeml_id DESC').limit(5).each do |entry| %>
        <dt><%= entry.freeml_datetime.strftime("%Y/%m/%d %H:%M").gsub('/0', '/') %></dt>
        <dd>
          <%= entry.freeml_user %>さんが新しいメールを投稿<br>
          <%= raw '&nbsp;' * 5 %>title: <%= entry.freeml_title %>
        </dd>
      <% end %>
    </dl>
    <h2><%= link_to 'Vocabulary Check', '/vocabularies', style: 'color: #333;' %></h2>
    <dl class="dl-horizontal" style="margin-top: 0;">
      <% Vocabulary.order('id DESC').limit(5).each do |vocabulary| %>
        <dt><%= vocabulary.created_at.strftime("%Y/%m/%d %H:%M").gsub('/0', '/') %></dt>
        <dd>問題セット「<%= link_to vocabulary.vocabulary_name, "/vocabularies/#{vocabulary.id}/quiz" %>」を追加</dd>
      <% end %>
    </dl>
  </div>
  <div class="span4">
  </div>
</div>

<% @index_page = 'active' %>
