<h1>プロフィールを編集</h1>

<%= form_for @user, url: 'edit_profile', html: { class: 'form-horizontal' } do |f| %>
  <% if @user.errors.any? %>
    <% messages = @user.errors.full_messages.delete_if{ |msg| msg.scan('Password digest').length > 0 } %>
    <% messages.delete("Password doesn't match confirmation") %>
    <div id="error_explanation" class="alert alert-block alert-error">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <h4><%= messages.count %>個の項目にエラーがあります。</h4>
      <ul>
        <% messages.each do |msg| %>
          <li><%= slice_error_message(msg) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="alert">
      氏名、生年月日、およびELMSメールアドレスは変更できません。
    </div>

    <div class="control-group">
      <%= label_tag :user_family_name, '氏', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :user_family_name, @user.user_family_name, disabled: true %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :user_given_name, '名', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :user_given_name, @user.user_given_name, disabled: true %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :user_email, 'ELMSメール', class: 'control-label' %>
      <div class="controls">
        <%= email_field_tag :user_email, @user.user_email, disabled: true %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :user_birthday, '生年月日', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :user_birthday, @user.user_birthday, disabled: true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :user_handle_name, 'ニックネーム', class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :user_handle_name %>
        3文字以上10文字以内
      </div>
    </div>

    <div class="control-group">
      <%= f.label :user_email_sub, '携帯メールアドレス', class: 'control-label' %>
      <div class="controls">
        <%= f.email_field :user_email_sub %>
        空欄可
      </div>
    </div>

    <div class="form-actions">
      <p>
        <%= f.submit '送信', class: 'btn btn-primary' %>
      </p>
      <p>
        <%= link_to 'パスワードの変更はこちらから', '/edit_password' %>
      </p>
    </div>
  </fieldset>
<% end %>
