<h1>パスワードを変更</h1>

<%= form_tag url: '/edit_password' do %>
  <div class="field">
    <%= label_tag :current_password, '現在のパスワード' %><br>
    <%= password_field_tag :current_password %>
  </div>

  <div class="field">
    <%= label_tag :password, '新しいパスワード' %> (5字以上)<br>
    <%= password_field_tag :password %>
  </div>

  <div class="field">
    <%= label_tag :password_confirmation, '新しいパスワード' %> (確認)<br>
    <%= password_field_tag :password_confirmation %>
  </div>

  <div class="action">
    <%= submit_tag '送信' %>
  </div>

<% end %>
