<h1>パスワードを再設定します。</h1>

<%= form_for @dummy_user, url: '/reset_password', html: { class: 'form-horizontal' } do |f| %>
  <fieldset>
    <div class="control-group">
      <%= f.label :user_email, 'ELMSメールアドレス', class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :user_email %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :user_birthday, '生年月日', class: 'control-label' %>
      <div class="controls">
        <%= f.date_select :user_birthday, start_year: 1980, end_year: 2000, use_month_numbers: true,
                          prompt: { day: '日', month: '月', year: '年' } %>
        本人確認のために利用します。
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag '送信', class: 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>
