<h1>パスワードを再設定します。</h1>

<%= form_for @dummy_user, url: '/reset_password' do |f| %>
  <div class="field">
    <%= f.label :user_email, 'ELMSメールアドレス' %><br>
    <%= f.text_field :user_email %>
  </div>

  <div class="field">
    <%= f.label :user_birthday, '生年月日' %> (本人確認のために利用します。)<br>
    <%= f.date_select :user_birthday, start_year: 1980, end_year: 2000, use_month_numbers: true,
                                      prompt: { day: '日', month: '月', year: '年' } %>
  </div>

  <div class="action">
    <%= submit_tag '送信' %>
  </div>
<% end %>
