<h1>ユーザー管理</h1>

<h2>管理者</h2>
<table class="table" id="admins">
  <tr>
    <th>ID</th>
    <th>氏名</th>
    <th>ニックネーム</th>
    <th>生年月日</th>
    <th>ELMSメール</th>
    <th>携帯メール</th>
    <th>登録日</th>
    <th>降格</th>
  </tr>
  <% @admins.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.user_family_name %> <%= user.user_given_name %></td>
      <td><%= user.user_handle_name %></td>
      <td><%= user.user_birthday.to_s %></td>
      <td><%= user.user_email %></td>
      <td><%= user.user_email_sub %></td>
      <td><%= user.created_at.to_date.to_s %></td>
      <td><button class="demote btn btn-mini btn-warning"
                  data-user-id="<%= user.id %>" data-user-name="<%= user.user_family_name %><%= user.user_given_name %>"
                  <% if user.id == current_user.id %>disabled="disabled"<% end %>>降格</button></td>
    </tr>
  <%end %>
</table>

<h2>承認待ちユーザー</h2>
<table class="table" id="status2">
  <tr>
    <th>ID</th>
    <th>氏名</th>
    <th>ニックネーム</th>
    <th>生年月日</th>
    <th>ELMSメール</th>
    <th>携帯メール</th>
    <th>登録日</th>
    <th>承認/拒否</th>
  </tr>
  <% @status2.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.user_family_name %> <%= user.user_given_name %></td>
      <td><%= user.user_handle_name %></td>
      <td><%= user.user_birthday.to_s %></td>
      <td><%= user.user_email %></td>
      <td><%= user.user_email_sub %></td>
      <td><%= user.created_at.to_date.to_s %></td>
      <td>
        <button class="approve_user btn btn-mini btn-success" data-user-id="<%= user.id %>">承認</button>
        <button class="reject_user btn btn-mini btn-danger" data-user-id="<%= user.id %>" data-user-name="<%= user.user_family_name %><%= user.user_given_name %>">拒否</button>
      </td>
    </tr>
  <%end %>
</table>

<h2>一般ユーザー</h2>
<table class="table" id="status0">
  <tr>
    <th>ID</th>
    <th>氏名</th>
    <th>ニックネーム</th>
    <th>生年月日</th>
    <th>ELMSメール</th>
    <th>携帯メール</th>
    <th>登録日</th>
    <th>昇格</th>
  </tr>
  <% @status0.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.user_family_name %> <%= user.user_given_name %></td>
      <td><%= user.user_handle_name %></td>
      <td><%= user.user_birthday.to_s %></td>
      <td><%= user.user_email %></td>
      <td><%= user.user_email_sub %></td>
      <td><%= user.created_at.to_date.to_s %></td>
      <td><button class="promote btn btn-mini btn-info" data-user-id="<%= user.id %>"
                  data-user-name="<%= user.user_family_name %><%= user.user_given_name %>">昇格</button></td>
    </tr>
  <%end %>
</table>

<h2>パスワード再設定処理中のユーザー</h2>
<table class="table" id="status3">
  <tr>
    <th>ID</th>
    <th>氏名</th>
    <th>ニックネーム</th>
    <th>生年月日</th>
    <th>ELMSメール</th>
    <th>携帯メール</th>
    <th>登録日</th>
  </tr>
  <% @status3.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.user_family_name %> <%= user.user_given_name %></td>
      <td><%= user.user_handle_name %></td>
      <td><%= user.user_birthday.to_s %></td>
      <td><%= user.user_email %></td>
      <td><%= user.user_email_sub %></td>
      <td><%= user.created_at.to_date.to_s %></td>
    </tr>
  <%end %>
</table>

<h2>新規登録ユーザー</h2>
メールアドレス確認手続きを完了していないので、承認することはできません。
<table class="table" id="status1">
  <tr>
    <th>ID</th>
    <th>氏名</th>
    <th>ニックネーム</th>
    <th>生年月日</th>
    <th>ELMSメール</th>
    <th>携帯メール</th>
    <th>登録日</th>
  </tr>
  <% @status1.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.user_family_name %> <%= user.user_given_name %></td>
      <td><%= user.user_handle_name %></td>
      <td><%= user.user_birthday.to_s %></td>
      <td><%= user.user_email %></td>
      <td><%= user.user_email_sub %></td>
      <td><%= user.created_at.to_date.to_s %></td>
    </tr>
  <%end %>
</table>


<!-- modal window用の雛形 -->
<div class="modal hide fade" id="modal-reject">
  <div class="modal-header">
    <h3>新規登録を拒否しますか？</h3>
  </div>
  <div class="modal-body">
    <span id="rejection_target_user_name"></span> さんの登録申請を拒否し、登録情報を抹消します。<br>よろしいですか？
    <span id="rejection_target_user_id" style="display: none;"></span>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">キャンセル</button>
    <button id="confirm_user_rejection" class="btn btn-danger">拒否</button>
  </div>
</div>

<div class="modal hide" id="modal-forbidden">
  <div class="modal-header">
    <h3>Forbidden</h3>
  </div>
  <div class="modal-body">
    この操作は管理者にしか認められていません。
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">OK</a>
  </div>
</div>

<div class="modal hide" id="modal-fatal">
  <div class="modal-header">
    <h3>Error</h3>
  </div>
  <div class="modal-body">
    予期しないエラーが発生しました。<br>
    この操作はすでに完了している可能性があります。<br>
    ページを再読み込みしてください。
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">OK</a>
  </div>
</div>

<div class="modal hide" id="modal-transmission-error">
  <div class="modal-header">
    <h3>Error</h3>
  </div>
  <div class="modal-body">
    通信に失敗しました。
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">OK</a>
  </div>
</div>



