<h1>Sign Up!</h1>

<%= form_for @user, url: '/signup', html: { class: 'form-horizontal' } do |f| %>
  <% if @user.errors.any? %>
    <% messages = @user.errors.full_messages.delete_if{ |msg| msg.scan('Password digest').length > 0 } %>
    <% messages.delete("Password doesn't match confirmation") %>
    <div id="error_explanation" class="alert alert-block alert-error">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <h4><%= messages.count %>個の項目にエラーがあります。</h4>
      <ul>
        <% messages.each do |msg| %>
          <li><%= slice_error_message(msg) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="control-group">
      <%= f.label :user_family_name, '氏', class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :user_family_name %>
        15文字以内
      </div>
    </div>

    <div class="control-group">
      <%= f.label :user_given_name, '名', class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :user_given_name %>
        15文字以内
      </div>
    </div>

    <div class="control-group">
      <%= f.label :user_handle_name, 'ニックネーム', class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :user_handle_name %>
        3文字以上10文字以内
      </div>
    </div>

    <div class="control-group">
      <%= f.label :user_birthday, '生年月日', class: 'control-label' %>
      <div class="controls">
        <%= f.date_select :user_birthday, start_year: 1980, end_year: 2000, use_month_numbers: true,
                          prompt: { day: '日', month: '月', year: '年' } %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :user_email, 'ELMSメールアドレス', class: 'control-label' %>
      <div class="controls">
        <%= f.email_field :user_email %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :user_email_sub, '携帯メールアドレス', class: 'control-label' %>
      <div class="controls">
        <%= f.email_field :user_email_sub %>
        空欄可
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password, 'パスワード', class: 'control-label' %>
      <div class="controls">
        <%= f.password_field :password %>
        5字以上
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, 'パスワードの確認', class: 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit '登録', class: 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>
