<% if @error == 'fatal' %>
  <h1>予期しないエラーが発生しました。</h1>

  <p>
    リクエストを処理できませんでした。<br>
    管理者に通知しましたので、連絡があるまでしばらくお待ちください。
  </p>
<% elsif @error == 'bad_status' %>
  <h1>パスワード再設定手続きが完了しています。</h1>

  <p>
    パスワード再設定手続きはすでに完了しています。<br>
    以下のURLから、ログインしてください。<br>
    <%= link_to 'ログイン', '/login' %>
  </p>
<% elsif @error == 'timeout' %>
  <h1>期限が切れています。</h1>

  <p>
    このURLの有効期限は終了しています。<br>
    パスワード再設定手続きが完了していない場合は、もう一度最初からやり直してください。<br>
  </p>
<% else %>
  <h1>パスワードを再設定します。</h1>

  <%= form_tag "/set_new_password/#{@user_auth_token}" do %>
    <div class="field">
      <%= label_tag :password, 'パスワード' %><br>
      <%= password_field_tag :password %>
    </div>

    <div class="field">
      <%= label_tag :password_confirmation, 'パスワード（確認）' %><br>
      <%= password_field_tag :password_confirmation %>
    </div>

    <div class="action">
      <%= submit_tag '送信' %>
    </div>
  <% end %>
<% end %>
