<h1><%= @subject.subject_name %></h1>

<section>
  <h3>シラバス情報</h3>
  <dl class="dl-horizontal">
    <dt>教科名</dt>
    <dd><%= @subject.subject_name %></dd>
    <dt>学期</dt>
    <dd><%= @subject.term.term_name %></dd>
    <dt>責任教員</dt>
    <dd><%= @subject.subject_staff %></dd>
    <dt>シラバス</dt>
    <dd><%= link_to 'シラバスページを表示', '#syllabus', data: { toggle: 'modal' } %></dd>
  </dl>
</section>

<section>
  <h3>資料</h3>

  <section>
    <h4>過去問</h4>
    <%= link_to '新規アップロード', "/study/#{@subject.term_identifier}/#{@subject.subject_identifier}/new_exam_file", class: 'btn btn-primary btn-mini' %>
  </section>

  <section>
    <h4>小テスト</h4>
    <%= link_to '新規アップロード', "/study/#{@subject.term_identifier}/#{@subject.subject_identifier}/new_quiz_file", class: 'btn btn-primary btn-mini' %>
  </section>

  <section>
    <h4>授業資料</h4>
    <%= link_to '新規アップロード', "/study/#{@subject.term_identifier}/#{@subject.subject_identifier}/new_summary_file", class: 'btn btn-primary btn-mini' %>
  </section>

  <section>
    <h4>個人ファイル</h4>
    <%= link_to '新規アップロード', "/study/#{@subject.term_identifier}/#{@subject.subject_identifier}/new_personal_file", class: 'btn btn-primary btn-mini' %>
  </section>
</section>






<!-- modal用シラバスページ -->
<div class="modal hide fade" id="syllabus">
  <div class="modal-body">
    <%= raw(@subject.subject_syllabus_html) %>
  </div>
</div>
