<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ? @page_title + ' - 北医ネット93' : '北医ネット93' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'icon.gif' %>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30681632-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
  <div class="container-fluid">

    <header id="grobal-header" class="row-fluid">
      <div class="span12">
        <div id="grobal-header-banner">
          <%= image_tag 'banner.jpg', alt: 'page-top' %>
        </div>

        <nav class="navbar navbar-inverse">
          <div class="navbar-inner">
            <div class="container">
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li class="<%= @index_page %>">
                    <%= link_to raw('<i class="icon-home"></i>Home'), '/' %>
                  </li>
                  <li class="<%= @study_page %>">
                    <%= link_to raw('<i class="icon-book"></i>Study'), '/study' %>
                  </li>
                  <li class="<%= @calendar_page %>">
                    <%= link_to raw('<i class="icon-calendar"></i>Calendar'), '/calendar' %>
                  </li>
                  <li class="<%= @questionnaire_page %>">
                    <%= link_to raw('<i class="icon-thumbs-up"></i>Questionnaire'), '/questionnaire' %>
                  </li>
                  <li class="<%= @bbs_page %>">
                    <%= link_to raw('<i class="icon-comments-alt"></i>BBS'), '/bbs' %>
                  </li>
                  <li class="<%= @ml_page %>">
                    <%= link_to raw('<i class="icon-envelope"></i>freeML'), '/freeml' %>
                  </li>
                  <li class="<%= @admin_page %>">
                    <%= link_to raw('<i class="icon-wrench"></i>Admin'), '/admin' %>
                  </li>
                  <li class="<%= @help_page %>">
                    <%= link_to raw('<i class="icon-question-sign"></i>Help'), '/help' %>
                  </li>
                  <li class="dropdown visible-desktop <%= @user_page %>" id="user-menu">
                    <% user_name = ( current_user ? current_user.user_handle_name : 'guest' ) %>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user-md"></i><%= user_name %><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'Edit user profile', '/edit_profile' %></li>
                      <li><%= link_to 'Log Out', '/logout' %></li>
                    </ul>
                  </li>
                  <li class="dropdown hidden-desktop <%= @user_page %>">
                    <% user_name = ( current_user ? current_user.user_handle_name : 'guest' ) %>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user-md"></i><%= user_name %><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'Edit user profile', '/edit_profile' %></li>
                      <li><%= link_to 'Log Out', '/logout' %></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <% if content_for?(:side) %>

    <div class="row-fluid">
      <div id="grobal-side" class="span3">
        <%= yield(:side) %>
      </div>

      <div id="grobal-content" class="span9">
        <% if flash[:error] %>
          <div id="flash-error" class="alert alert-error">
            <button class="close" data-dismiss="alert">×</button>
            <i class="icon-remove-sign"></i>
            <%= flash[:error] %>
          </div>
        <% end %>
        <% if flash[:warning] %>
          <div id="flash-error" class="alert">
            <button class="close" data-dismiss="alert">×</button>
            <i class="icon-info-sign"></i>
            <%= flash[:warning] %>
          </div>
        <% end %>
        <% if flash[:info] %>
          <div id="flash-info" class="alert alert-info">
            <button class="close" data-dismiss="alert">×</button>
            <i class="icon-info-sign"></i>
            <%= flash[:info] %>
          </div>
        <% end %>
        <% if flash[:success] %>
          <div id="flash-info" class="alert alert-success">
            <button class="close" data-dismiss="alert">×</button>
            <i class="icon-ok-sign"></i>
            <%= flash[:success] %>
          </div>
        <% end %>

        <%= yield(:content) %>
      </div>

    </div>
    <% else %>
    <div class="row-fluid">

      <div id="grobal-full-width-content" class="span12">

        <% if flash[:error] %>
          <div id="flash-error" class="alert alert-error">
            <button class="close" data-dismiss="alert">×</button>
            <i class="icon-remove-sign"></i>
            <%= flash[:error] %>
          </div>
        <% end %>
        <% if flash[:warning] %>
          <div id="flash-error" class="alert">
            <button class="close" data-dismiss="alert">×</button>
            <i class="icon-info-sign"></i>
            <%= flash[:warning] %>
          </div>
        <% end %>
        <% if flash[:info] %>
          <div id="flash-info" class="alert alert-info">
            <button class="close" data-dismiss="alert">×</button>
            <i class="icon-info-sign"></i>
            <%= flash[:info] %>
          </div>
        <% end %>
        <% if flash[:success] %>
          <div id="flash-info" class="alert alert-success">
            <button class="close" data-dismiss="alert">×</button>
            <i class="icon-ok-sign"></i>
            <%= flash[:success] %>
          </div>
        <% end %>

        <%= yield %>
      </div>

    </div>
    <% end %>

    <footer id="grobal-footer" class="row-fluid">
      <div class="span12">
        <address>
          Copyright 2011-2012 Hokui-Net Developer Team, Version 2.0.0 @2012-09-29
        </address>
        <div id="grobal-footer-credits">
          <ul>
            <li id="grobal-footer-octocat">
              <%= link_to image_tag('octocat.png', alt: 'Find me on Github!'), 'http://github.com/iTakeshi/hokui2.0', target: '_blank', rel: 'tooltip', title: 'Find me on Github!' %>
            </li>
            <li id="grobal-footer-rails">
              <%= link_to image_tag('rails.png', alt: 'This application is built on Rails.'), 'http://rubyonrails.org/', target: '_blank', rel: 'tooptip', title: 'This application is built on Rails' %>
            </li>
          </ul>
        </div>
      </div>
    </footer>

  </div>

</body>
</html>
