<!DOCTYPE html>
<html>
<head>
  <title>Hokui</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:error] %>
    <div id="flash-error">
      <%= flash[:error] %>
    </div>
  <% end %>
  <% if flash[:info] %>
    <div id="flash-info">
      <%= flash[:info] %>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
